if album.files
    each file in album.files
        .album-cell
            img.album-cell__img(src=`/download/${user.username}/` + file._id, width='100%', height='100%')
            if file.metadata.data
                .album-cell__meta
                    .album-cell__time #{file.metadata.data.time}
                    .album-cell__f #{file.metadata.data.aperture}
                    .album-cell__shotter #{file.metadata.data.exposure}
                    .album-cell__iso #{file.metadata.data.iso}
                .album-cell__date #{file.metadata.data.date}